.container {
  padding: 0 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-container {
  position: relative;
  overflow: auto;
}
.orders-list {
  position: relative;
  height: 100%;
}

.loading-shade {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
