<div class="container">
  <div class="header">
    <h1>Orders</h1>
    <button mat-flat-button color="primary">Create order</button>
  </div>
  @if(loading()) {
    <div class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>
  }
  <div class="orders-list">
    @if(ordersList$ | async; as ordersData) {
      <app-orders-list
        [dataSource]="ordersData.orders"
      />
      <app-pagination
        [currentPage]="currentPage$ | async"
        [limit]="limit$ | async"
        [totalPages]="Math.ceil(ordersData.ordersCount / 10)"
        (changePage)="onChangePage($event)"
        (changeLimit)="onChangeLimit($event)"
      />
    }
  </div>

</div>
